.center {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.mainwrapper {
  display: grid;
  grid-area: wrapper;
  grid-template-areas: "main-section-one main-section-one main-section-one" "main-section-three main-section-three main-section-three" "main-section-two main-section-four main-section-five";
  gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0em 1em;
}

.aboutwrapper {
  display: grid;
  grid-area: wrapper;
  grid-template-areas: "about-section-one about-section-two" "about-team about-team";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 1em;
  margin: 0em 1em;
}

.articleswrapper {
  display: grid;
  grid-area: wrapper;
  grid-template-areas: "article-one" "article-two" "article-three";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  margin: 0em auto;
  width: 75%;
}

.contactwrapper {
  display: grid;
  grid-area: wrapper;
  grid-template-areas: "about-section-one about-section-two" "about-section-one about-section-two";
  grid-template-columns: 2fr 1fr;
  margin: 0em 1em;
}

.jacketdetailwrapper {
  display: grid;
  grid-area: wrapper;
  grid-template-areas: "jacketdetailimage jacketdetailbuy" "jacketdesc jacketdesc";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  margin: 0em 1em;
  gap: 1em;
}

.cartwrapper {
  display: grid;
  grid-area: wrapper;
  grid-template-areas: "cart-top cart-top" "cart-topleft cart-topright" "cart-bottom cart-bottom";
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 2fr 1fr;
  margin: 0em auto;
  width: 95%;
  gap: 1em;
}

.cartpaysucwrapper {
  display: grid;
  grid-area: wrapper;
  grid-template-areas: "cart-top cart-top" "cart-topleft cart-topright" "cart-bottom cart-bottom";
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 2fr 1fr;
  margin: 1em 1em;
}

.cartpaysucwrapper .cart-top {
  display: none;
}

.contactwrapper {
  display: grid;
  grid-area: wrapper;
  grid-template-areas: "about-section-one about-section-two";
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  margin: 0em 1em;
}

.carttitle {
  margin-top: -1.25em;
}

.cart-top {
  grid-area: cart-top;
  padding: 3em 0em;
}

.cart-topleft {
  grid-area: cart-topleft;
  background-color: #f2f2f2;
  padding-bottom: 1em;
  margin-bottom: 1.25em;
}

.cart-topright {
  grid-area: cart-topright;
  background-color: #f2f2f2;
  margin-bottom: 1.25em;
}

.cart-bottom {
  grid-area: cart-bottom;
  margin-top: -2em;
}

.white {
  background-color: #f2f2f2;
  padding: 1em;
  margin-top: -1em;
  margin-bottom: 1em;
}

.jacketdetail1,
.jacketdetail:nth-child(1) {
  grid-area: jacketdetailimage;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #f2f2f2;
  border: solid black;
  border-width: 1px;
}
.jacketdetail:nth-child(2) {
  grid-area: jacketdetailbuy;
  background-color: #f2f2f2;
  border: solid black;
  border-width: 1px;
}

.jacketdetail:nth-child(3) {
  grid-area: jacketdesc;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #f2f2f2;
  border: solid black;
  border-width: 1px;
}

.main-section {
  border: solid black;
  border-width: 1px;
}

.main-section:nth-child(1) {
  background-image: url(/images/fabrizio-conti-xPFhK0MGsyw-unsplash.jpg);

  grid-area: main-section-one;
}

.main-section:nth-child(2) {
  background-image: url(/images/wu-jianxiong-UniC8xhlzaE-unsplash.jpg);
  grid-area: main-section-two;
}

.main-section:nth-child(3) {
  background-image: url(/images/alex-guillaume-KitOeE0vXzI-unsplash.jpg);
  grid-area: main-section-three;
}

.main-section:nth-child(4) {
  background-image: url(/images/todd-diemer-zglUlG8k47I-unsplash.jpg);
  grid-area: main-section-four;
}

.main-section:nth-child(5) {
  background-image: url(/images/nasim-dadfar-w28Ei0Ap96w-unsplash.jpg);
  grid-area: main-section-five;
}

.about-section:nth-child(1) {
  grid-area: about-section-one;
}

.about-section:nth-child(2) {
  grid-area: about-section-two;
}

.about-team {
  grid-area: about-team;
}

.about-section,
.about-section-2,
.about-team {
  background-color: #f2f2f2;
  border: solid black;
  border-width: 1px;
}

.about-section-2 {
  padding-left: 1em;
}

.article:nth-child(1) {
  background-image: url(/images/jachan-devol-ksdTuDc1ibg-unsplash.jpg);
  color: #f2f2f2;
  grid-area: article-one;
}

.article:nth-child(2) {
  background-image: url(/images/wladislaw-sokolowskij-0vw4InAC-yM-unsplash.jpg);
  grid-area: article-two;
}

.article:nth-child(3) {
  background-image: url(/images/mariah-krafft-g87PtqNlqOE-unsplash.jpg);
  grid-area: article-three;
}

.article {
  border: solid black;
  border-width: 1px;
}
