body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  background-color: #f2f2f2;
}

header {
  grid-area: header;
  font-family: "Playfair Display", serif;
}

.max-width-container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

main {
  display: grid;
  grid-area: main;
  grid-template-areas: "wrapper";
}

footer {
  grid-area: footer;
  padding: 0.5em;
}

header,
footer {
  background-color: #262626;
  color: #f2f2f2;
}

.logo {
  max-width: 250px;
  padding: 2em 0em 2em 2em;
  float: left;
}

header a {
  color: #f2f2f2;
  text-decoration: none;
}

.socialweb {
  text-align: right;
  padding: 1em 1em 0 0;
  font-size: 1.5em;
}

.socialweb a:hover {
  text-decoration: none;
}

header ul li {
  list-style: none;
  display: inline;
}

nav {
  text-align: right;
  padding: 1.5em 1em 0em;
  font-size: 1.25em;
}

nav a,
.socialweb a {
  padding: 0.5em;
}

.active {
  background-color: #848c5a;
  border-radius: 25px;
}

.jacketsizing {
  font-size: 1.2em;
  width: 75%;
}

.ctabutton {
  background-color: #b70d0d;
  color: #f2f2f2;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.5em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.ctabutton:hover {
  color: black;
  background-color: #848c5a;
  text-decoration: none;
}

h1,
h2 {
  font-size: 2em;
  font-family: "Playfair Display", sans-serif;
}

h3 {
  font-size: 1.5;
  font-family: "Playfair Display", sans-serif;
}

.aboutwrapper h3 {
  font-size: 2em;
}

.cartwrapper h1,
.cartwrapper h2,
.cartwrapper h3,
.cartpaysucwrapper h1 {
  background-color: #262626;
  color: #f2f2f2;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  font-size: 1.2em;
}

p {
  font-size: 1.2em;
}

hr {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

a {
  color: #262626;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #b70d0d;
}

.team {
  max-width: 200px;
  padding-bottom: 0.5em;
}

.team-member {
  text-align: center;
}

.alignleft {
  float: left;
  padding-left: 1em;
}

.alignright {
  float: right;
  padding-right: 1em;
  font-weight: bold;
}

.centerflex {
  display: flex;
  justify-content: space-around;
}

.hrmobile {
  display: none;
}

.cart-top-box {
  display: flex;
  width: 7.5em;
  height: 5em;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  background-color: #cacaca;
}

.cartimage {
  max-width: 150px;
  float: left;
  padding: 0em 1em;
}

.carttext {
  padding-top: 3.5em;
  font-size: 1.5em;
  display: flex;
  text-align: center;
}

.jacketimage {
  max-width: 100%;
  max-height: 450px;
  min-height: 450px;
}

.blog-image {
  text-align: center;
  padding: 1em 0em;
}

.blog-image-spec {
  max-width: 750px;
  width: 100%;
}

.article-content {
  max-width: 750px;
  padding: 1em 1em;
  margin: 0;
  margin: auto;
}

.main-section,
.article,
.about-section,
.explore-section {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0em 2em 0em 2em;
  min-height: 20em;
}

.jackets-section,
.jacketdetail,
.about-team,
.article-archive {
  padding: 0em 2em 0em 2em;
}

.jackets-section {
  margin-bottom: 2em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 1.2em;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #b70d0d;
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}

input[type="submit"]:hover {
  background-color: #848c5a;
  color: black;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 1em;
}

#subjectcontact {
  height: 200px;
}

#subjectcart {
  height: 100px;
}

/* MOBILE MENU */

.fas {
  font-size: 2em;
}

.hamburger-label {
  color: #f2f2f2;
  padding: 2em 2em 0em 0;
  display: block;
  float: right;
}

#hamburger-menu:checked ~ nav {
  display: block;
  padding-top: 5em;
}

.hamburger-label,
#hamburger-menu {
  display: none;
}

.socialmobile {
  display: none;
}
