body {
  background: #f2f2f2;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header header header" "main main main" "main2 main2 main2" "main4 main5 main6" "footer footer footer";
  grid-template-rows: auto 1fr 1fr 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  max-width: 1980px;
}

header {
  grid-area: header;
  background-color: #262626;
}

.firstmain {
  grid-area: main;
  min-height: 30em;
}

.secondmain {
  grid-area: main2;
}

.fourthmain {
  grid-area: main4;
}

.fiftmain {
  grid-area: main5;
}

.sixtmain {
  grid-area: main6;
}

aside {
  grid-area: aside;
  display: none;
}

footer {
  grid-area: footer;
  padding: 0.5em;
  background-color: #262626;
}

main,
aside {
  padding-left: 1em;
}

header,
footer {
  color: #f2f2f2;
  font-family: "Playfair Display", serif;
}

.logo {
  max-width: 250px;
  float: left;
  padding: 2em 0em 2em 2em;
}

header a {
  color: #f2f2f2;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
  text-decoration-color: #b70d0d;
}

.social {
  text-align: right;
  padding-top: 2em;
  padding-right: 1.5em;
}

header ul li {
  list-style: none;
  display: inline;
}

nav {
  text-align: right;
  padding-top: 2.25em;
  padding-right: 1em;
  font-size: 1.25em;
}

nav a,
.social a {
  padding: 1em;
}

.active {
  background-color: #848c5a;
  border-radius: 25px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h1,
h2 {
  color: #f2f2f2;
}

.copy {
  display: flex;
  justify-content: center;
}

.ctabuttonfront {
  background-color: #b70d0d;
  border: none;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  padding: 0.5em;
  font-size: 1em;
  font-weight: bold;
}

.ctabuttonfront:hover {
  color: #262626;
}

.firstmain {
  background-image: url("/images/haveng.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondmain {
  background-image: url("/images/gulskog.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fourthmain {
  background-image: url("/images/fjell.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fiftmain {
  background-image: url("/images/front_two.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sixtmain {
  background-image: url("/images/solnedgang.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* START MOBILE MENU */

#hamburger-menu {
  display: none;
}

.hamburger-label {
  color: #f2f2f2;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-right: 2em;
  display: block;
}

.icon {
  float: right;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.hamburger-label {
  display: none;
}

.hamburgericon {
  width: 35px;
  height: 5px;
  background-color: #f2f2f2;
  margin: 6px 0;
  border-radius: 25px;
}

/* Reason for media-query at 767px is to let the iPad Mini, the smallest one, to have web-view. The mini has a portrait-size of 768 x 959 px */

@media (max-width: 767px) {
  nav,
  .social {
    display: none;
  }

  .logo {
    padding: 1em 0em 1em 2em;
    max-width: 150px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
    padding-bottom: 1.5em;
  }

  h1,
  h2 {
    color: #f2f2f2;
  }

  nav ul {
    text-align: center;
    padding-right: 1em;
    padding-left: 1em;
  }

  nav a,
  .hamburger-label {
    display: block;
  }

  .hamburger-label {
    color: #f2f2f2;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    display: block;
  }
}

@media (min-width: 1981px) {
  body {
    border: #262626 solid;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  nav,
  .social {
    display: none;
  }

  nav ul {
    text-align: center;
    padding-right: 1em;
    padding-left: 1em;
  }

  nav a,
  .hamburger-label {
    display: block;
  }

  .hamburger-label {
    color: #f2f2f2;
    padding-top: 4em;
    padding-bottom: 3em;
    padding-right: 2em;
    display: block;
  }
}

@media (max-width: 980px) {
  body {
    grid-template-areas: "header" "main" "main2" "main4" "main5" "main6" "footer";
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr auto;
    grid-template-columns: 1fr;
    margin: auto;
    max-width: 1980px;
  }

  .firstmain,
  .secondmain,
  .fourthmain,
  .fiftmain,
  .sixtmain {
    border-bottom: none;
  }
}
