body {
  background: #f2f2f2;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "main2" "main3" "footer";
  grid-template-rows: auto 3fr 1fr 1fr auto;
  grid-template-columns: 2fr;
  margin: auto;
  max-width: 1980px;
}

header {
  grid-area: header;
  background-color: #262626;
}
.firstmain {
  grid-area: main;
  min-height: 50em;
}

.secondmain {
  grid-area: main2;
}

.thirdmain {
  grid-area: main3;
}

aside {
  grid-area: aside;
  display: none;
}

footer {
  grid-area: footer;
  padding: 1em;
  background-color: #262626;
}

main,
aside {
  padding-left: 1em;
}

header,
footer {
  color: #f2f2f2;
}

.logo {
  max-width: 250px;
  float: left;
  padding: 2em 0em 2em 2em;
}

header a {
  color: #f2f2f2;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
  text-decoration-color: #b70d0d;
}

.social {
  text-align: right;
  padding-top: 2em;
  padding-right: 1.5em;
}

header ul li {
  list-style: none;
  display: inline;
}

nav {
  text-align: right;
  padding-top: 2.25em;
  padding-right: 1em;
  font-size: 1.25em;
}

nav a,
.social a {
  padding: 0.5em;
}

.active {
  background-color: #848c5a;
  border-radius: 25px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h1,
h2 {
  color: #262626;
}

.copy {
  display: flex;
  justify-content: center;
}

.ctabuttonfront {
  background-color: #b70d0d;
  border: none;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  padding: 0.5em;
  font-size: 1em;
  font-weight: bold;
}

.ctabuttonfront:hover {
  color: #262626;
}

.firstmain {
  background-image: url("/images/front_one.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.thirdmain {
  background-image: url("/images/front_one.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

/* START MOBILE MENU */

#hamburger-menu {
  display: none;
}

.hamburger-label {
  color: #f2f2f2;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-right: 2em;
  display: block;
}

.icon {
  float: right;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.hamburger-label {
  display: none;
}

.hamburgericon {
  width: 35px;
  height: 5px;
  background-color: #f2f2f2;
  margin: 6px 0;
  border-radius: 25px;
}

/* Reason for media-query at 767px is to let the iPad Mini, the smallest one, to have web-view. The mini has a portrait-size of 768 x 959 px */

@media (max-width: 767px) {
  nav,
  .social {
    display: none;
  }

  nav ul {
    text-align: center;
    padding-right: 1em;
    padding-left: 1em;
  }

  nav a,
  .hamburger-label {
    display: block;
  }

  body {
    display: grid;
    grid-template-areas: "header" "main" "main2" "main3" "footer";
    grid-template-rows: auto 3fr 1fr 1fr auto;
    grid-template-columns: 1fr;
  }

  aside {
    display: none;
  }

  .logo {
    padding: 1em 0em 1em 2em;
    max-width: 150px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
    padding-bottom: 1.5em;
  }

  h1,
  h2 {
    color: #262626;
  }
}

@media (min-width: 1981px) {
  body {
    border: #262626 solid;
  }
}
